<h1 id="play_title">Flock Theater Productions</h1>

<div id="plays_wrapper" class="skinny_wrapper left">


<img src="/assets/flock.jpg" style="width:500px;heigt:500px;">

<p>
Charles has written several productions for the Flock Theater, including The Holly and the Ivy and The Burning of Benedict Arnold.

</div>