<h1 id="play_title">The Night the Cardiff Giant Sang Rossini on the Lawn</h1>




<div id="plays_wrapper" class="skinny_wrapper">

<img src="/assets/cardiffgiant1.jpg" class="left">

<img src="/assets/cardiffgiant.jpg" class="left">


<p class="clear">What is a Cardiff Giant and why is he singing Rossini on the lawn?
 History: One of the most famous hoaxes in America occurred in 1869 with the unearthing of a 10-foot tall stone Giant by workers digging a well in upstate Cardiff, New York. Heated religious debates erupted concerning Genesis (6:4): “There were giants who once lived on earth.” The discovery of the ‘petrified man’ created a huge sensation and thousands of believers and curiosity seekers flowed into the town to view him only to learn a year later that it was a hoax created by George Hull, an avowed atheist, who made a fortune selling tickets to see the bogus body. The play takes place in 2006 in Cooperstown, New York (home of the Baseball Hall of Fame and Glimmerglass Opera) where Traeger has chosen to set his play. During the off-season a mysterious man who calls himself George Hull is arrested after breaking into the Famers Museum where the [true fact] Cardiff Giant now rests. The arrested man claims to have heard the giant sing and says that he will sing again. Who is this charming, wise yet strange and suspicious man? Is he a prophet? Is he dangerous? Is he a lunatic? Is he the only one who has heard the Cardiff Giant sing? Will the Giant sing again? 
 </p>
 </div>