<h1 id="play_title">Plays</h1>

        <div id="plays_wrapper" class="skinny_wrapper">
      
          <div class="play">
  				  <h2><a href="/plays/rhymes">Rhymes With Evil</a></h2>
  				  <hr>
          </div>

  				 <div class="play">
            <h2><a href="/plays/ordinary">Ordinary Knights</a></h2>
  				  <hr>
           </div>

           <div class="play">
  				  <h2><a href="/plays/giant">The Night the Cardiff Giant Sang Rossini on the Lawn.</a></h2>
  				  <hr>
          </div>

  				<div class="play">
            <h2><a href="/plays/vagabound">Vagabond's Vaudeville</a></h2>
            <hr>
  				</div>

  				<div class="play">
            <h2><a href="plays/nuts">Nuts and Bolts</a></h2>
    				<hr>
          </div>

          <div class="play">
  				  <h2><a href="plays/flock">Flock Theater Productions</a></h2>
  				  <hr>
          </div>

  			</div>