
<h1 id="play_title">Nuts and Bolts</h1>

<div id="plays_wrapper" class="skinny_wrapper">


<img src="/assets/nutsandbolts.png" style="width:150px;heigt:150px;">

<p>
A great play by Charles Traeger
</p>

</div>