<h1 id="play_title">Ordinary Knights</h1>

<div id="plays_wrapper" class="skinny_wrapper">


<img src="/assets/knights.jpg" style="width:200px;heigt:200px;">

<p>
A great play by Charles Traeger
</p>

</div>