<h1 id="play_title">Rhymes With Evil</h1>


<div id="plays_wrapper" class="skinny_wrapper">


<img src="/assets/rhymes.jpg">

<p>
InFusion Theatre brings creepy puppets and visual spectacle to a very human tale of an imaginative and inventive stay-at-home dad.  In his Midwest farm house, he creates a beautiful yet bizarre world of puppets, costumed characters and fanciful stories for his young daughter.  But all is not what it seems in this suspense-filled and disturbing tale of love, loss and danger appropriate for the Halloween season.
</p>

</div>
