<h1 id="play_title">Vagabound's Vaudeville</h1>

<div id="plays_wrapper" class="skinny_wrapper left">


<img src="/assets/lindsay.jpg">

<p>
A fantasy based on the life, works, and words of Vachal Lindsay.
</p>

</div>