<div class="wrapper wrapper_padding clearfix goudy">
  			<div class="col-1 about homepage_content">
	  			<h2>About</h2>
	  			<hr>

	  				<p>Charles has had productions and readings of his plays (Love Gifts, Rhymes with Evil, Christmas Sprits, Ordinary Knights, Occurences, The Holly and the Ivy, Nuts and Bolts, The Night the Cardiff Giant Sang Rossini on the Lawn and Vagabound's Vaudeville).  He has been part of the professional theater community for over 40 years and has worked with the Hartford Stage Actors Theater of Louisville, Indiana Repretory Theater, Center Stage in Baltimore, New York City opera on tour and summer stage star tour packages as prooduction stage manager, advance director, press director and operations/company manager.</p>
  			</div>

